@import "font";
@import "vars";



.navbar {

   
a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    padding-top: .5rem;   
    padding-left: .5rem;
    text-transform: uppercase;
    img{
        max-width: 130px;
        max-height: 130px;
        
    }
    
}}

@media(max-width: 480px){
    
    
    .navbar {
        

        a {
            color: white;
            text-decoration: none;
            font-size: 1.7rem;
            margin-right: 2rem;
            padding-top: 2rem;   
            padding-left: 2rem;
            text-transform: uppercase;
            img{
                max-width: 120px;
                max-height: 105px;
                
            }
            
        }}
        
    
}